.timetable-table {
    width: 100%;
    border-collapse: collapse;
}

.timetable-table thead {
    border-bottom: 1px solid black;
}

.hour-cell{
    border-right: 1px solid black;
}

.timetable-table th,
.timetable-table td {
    padding: 10px;
    text-align: center;
}

.timetable-table th {
    background-color: #f7f7f7;
}

.hour-cell {
    font-weight: bold;
}

.data-cell {
    background-color: #eaf7ff;
}

.empty-cell {
    background-color: #ffffff;
}